.footer {
  height: 229px;
  width: 100%;
  background-color: #121212;
}

.footer__inner {
  display: block;
}

.footer__nav {
  margin: 0 auto;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  margin-top: 60px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__text {
  display: flex;
  justify-content: center;
  margin-top: 87px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .footer {
    height: 131px;
  }
  .footer__nav {
    width: 281px;
  }
  .footer__link {
    margin-top: 30px;
    font-size: 12px;
    line-height: 16px;
  }
  .footer__text {
    margin-top: 41px;
    font-size: 13px;
    line-height: 18px;
  }
}
