.about {
  margin-bottom: 150px;
}

.about__subtitle {
  margin-bottom: 0;
  width: 100%;
  max-width: 1048px;
  color: #121212;
  font-style: normal;
  font-size: 45px;
  line-height: 61px;
}

.about__link {
  margin-top: 28px;
  padding: 20px 0;
  display: block;
  width: 255px;
  height: 67px;
  border-image: initial;
  border-radius: 5px;
  border: 1px solid;
  border-style: solid;
  border-color: rgb(173, 24, 24);
  background-color: rgb(173, 24, 24);
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about__link:hover {
  border-color: #121212;
  background-color: #ffffff;
  color: #121212;
}

@media (max-width: 960px) {
  .about {
    margin-bottom: 120px;
  }
  .about__subtitle {
    width: 100%;
    max-width: 690px;
    height: 100%;
    font-size: 35px;
    line-height: 48px;
  }
}

@media (max-width: 767px) {
  .about {
    margin-bottom: 80px;
  }
  .about__subtitle {
    width: 100%;
    height: 100%;
    font-size: 22px;
    line-height: 30px;
  }
  .about__link {
    padding: 15px;
    width: 100%;
    height: 52px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-device-width: 320px) and (max-device-width: 350px) {
  .about__title {
    min-width: 0;
  }
}
