.services {
  margin-bottom: 150px;
  width: 100%;
  background-color: #121212;
  padding-top: 151px;
}

.service__title-color {
  color: #ffffff;
}

.service__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.service {
  position: relative;
  max-width: 569px;
  width: calc(50% - 5px);
}

.service__image {
  width: 100%;
  height: 388px;
  border-radius: 5px;
  object-fit: cover;
}

.service__price {
  position: absolute;
  top: 32px;
  left: 30px;
  padding: 6px;
  height: 40px;
  color: #ffffff;
  background-color: #ad1818;
  border-radius: 5px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.service__text {
  margin-top: 15px;
  width: 100%;
  height: 41px;
  color: #121212;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
}

.service__text-color {
  margin-bottom: 80px;
  color: #ffffff;
}

.services__btn {
  margin-top: 24px;
  margin-bottom: 150px;
  width: 100%;
  height: 153px;
  color: #ffffff;
  background-color: #ad1818;
  border: none;
  border-radius: 5px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  cursor: pointer;
}

@media (min-device-width: 768px) and (max-device-width: 960px) {
  .services {
    margin-bottom: 120px;
  }
  .service__image {
    width: 100%;
    height: 315px;
    border-radius: 5px;
  }
  .service {
    position: relative;
  }
  .service__text {
    height: 34px;
    font-size: 25px;
    line-height: 34px;
  }
  .service__price {
    position: absolute;
    top: 31px;
    left: 32px;
    padding: 6px;
    width: 180px;
    height: 40px;
    color: #ffffff;
    background-color: #ad1818;
    border-radius: 5px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
}

@media (min-device-width: 320px) and (max-device-width: 767px) {
  .services {
    margin-bottom: 80px;
    padding-top: 80px;
  }
  .service__list {
    flex-direction: column;
  }
  .service {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  .service__image {
    width: 100%;
    height: 240px;
  }
  .service__text {
    margin-top: 10px;
    margin-bottom: 60px;
    height: 24px;
    font-size: 18px;
    line-height: 25px;
  }
  .service__price {
    position: absolute;
    top: 23px;
    left: 24px;
    padding: 6px;
    height: 30px;
    color: #ffffff;
    background-color: #ad1818;
    border-radius: 5px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }
  .services__btn {
    margin-top: 0;
    margin-bottom: 80px;
    height: 100px;
    font-size: 22px;
    line-height: 30px;
  }
}
