html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.body_fixed {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
  height: 61px;
  width: 100%;
}

.header__logo {
  margin-top: 33px;
  width: 128px;
  height: 22px;
  background-image: url(../resources/Metrica.png);
}

.header__nav {
  display: flex;
  gap: 57px;
  margin-top: 35px;
}

.nav__link {
  color: #121212;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover {
  border-bottom: 1px solid;
  opacity: 0.5;
}

.nav__link:nth-last-child(1) {
  margin-right: 0;
}

.burger__btn {
  display: none;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  padding: 13px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.burger_open {
  opacity: 1;
  visibility: visible;
}

.burger__content {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(310deg, #a0a1a1, #e3ddd1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 47%;
  position: relative;
  transition: all 0.5s ease;
  transform: translateX(100%);
  overflow: auto;
}

.burger_open .burger__content {
  transform: translateX(0);
}

.burger__contact {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 30px;
}
.burger__contact-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
}

.burger__number {
  font-size: 20px;
  line-height: 46px;
  text-decoration: none;
  color: #121212;
}

.burger__number:hover {
  opacity: 0.5;
}

.burger__link-mail {
  color: #121212;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.burger__link_mail:hover {
  opacity: 0.5;
}

.intro {
  margin-bottom: 150px;
}

.intro__title {
  width: 956px;
  color: #121212;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
}

.intro__image {
  margin-top: 30px;
  width: 100%;
  height: 500px;
  position: relative;
  border-radius: 5px;
  background-image: url(../resources/Interior.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.intro__text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  color: #ffffff;
  font-size: 20px;
  line-height: 27px;
}

.title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.about {
  margin-bottom: 150px;
}

.about__subtitle {
  margin-bottom: 0;
  width: 100%;
  max-width: 1048px;
  color: #121212;
  font-style: normal;
  font-size: 45px;
  line-height: 61px;
}

.about__link {
  margin-top: 28px;
  padding: 20px 0;
  display: block;
  width: 255px;
  height: 67px;
  border-image: initial;
  border-radius: 5px;
  border: 1px solid;
  border-style: solid;
  border-color: rgb(173, 24, 24);
  background-color: rgb(173, 24, 24);
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about__btn:hover {
  border-color: #121212;
  background-color: #ffffff;
  color: #121212;
}

.projects {
  margin-bottom: 150px;
}

.project__image {
  width: 100%;
  height: 449.79px;
  border-radius: 5px;
}

.project__text {
  margin: 0px;
  margin-top: 15px;
  color: #121212;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
}

.project__item-link {
  margin-top: 15px;
  margin-bottom: 90px;
  display: block;
  width: 127px;
  height: 26.99px;
  color: #ad1818;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
}

.project__link {
  padding-top: 56px;
  padding-bottom: 56px;
  height: 153px;
  display: block;
  border-radius: 5px;
  border: 1px solid #ad1818;
  background-color: #ffffff;
  color: #ad1818;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project__btn:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.services {
  margin-bottom: 150px;
  width: 100%;
  background-color: #121212;
  padding-top: 151px;
}

.service__title-color {
  color: #ffffff;
}

.service__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.service {
  position: relative;
  max-width: 569px;
  width: calc(50% - 5px);
}

.service__image {
  width: 100%;
  height: 388px;
  border-radius: 5px;
  object-fit: cover;
}

.service__price {
  position: absolute;
  top: 32px;
  left: 30px;
  padding: 6px;
  height: 40px;
  color: #ffffff;
  background-color: #ad1818;
  border-radius: 5px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.service__text {
  margin-top: 15px;
  width: 100%;
  height: 41px;
  color: #121212;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
}

.service__text-color {
  margin-bottom: 80px;
  color: #ffffff;
}

.services__btn {
  margin-top: 24px;
  margin-bottom: 150px;
  width: 100%;
  height: 153px;
  color: #ffffff;
  background-color: #ad1818;
  border: none;
  border-radius: 5px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  padding: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.popup_open {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: relative;
  margin: 13px;
  max-width: 777px;
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

.popup__conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.popup__title {
  margin-top: 94px;
  font-size: 45px;
  line-height: 61px;
}

.popup__text {
  margin-top: 4px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 25px;
}

.input {
  display: block;
  margin-bottom: 50px;
  padding-bottom: 10px;
  width: 636px;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 25px;
  line-height: 34px;
}

.input:focus {
  outline: none;
}

.input:nth-last-child(1) {
  margin-bottom: 80px;
}

.popup__btn {
  margin-bottom: 86px;
  max-width: 643px;
  width: 100%;
  height: 67px;
  border-radius: 5px;
  border: none;
  background-color: #ad1818;
  color: #ffffff;
  font-family: "Manrope";
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
}

.popup__close-btn {
  position: absolute;
  display: flex;
  top: 42px;
  right: 44px;
  width: 30px;
  height: 30px;
  background-image: url(../resources/icon_close.png);
  cursor: pointer;
}

.reviews {
  margin-bottom: 150px;
}

.review__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  column-gap: 49px;
}

.row__title {
  margin-bottom: 25px;
  width: 100%;
  font-size: 45px;
  line-height: 61px;
}
.row__text {
  width: 100%;
  max-width: 530px;
  font-size: 22px;
  line-height: 30px;
}

.row__bottom-text {
  width: 100%;
  max-width: 861px;

  font-size: 22px;
  line-height: 30px;
}

.gallery {
  position: relative;
  margin: 0 auto;
  margin-bottom: 150px;
  max-width: 1800px;
}

.gallery__title {
  position: absolute;
  top: 60px;
  z-index: 100;
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
}

.gallery__slide {
  height: 717px;
  display: none;
}

.gallery__slide_active {
  display: block;
  transform: all 0.5s ease;
}

.slide__box {
  height: 717px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.slide__one {
  background-image: url(../resources/slide_one.png);
}

.slide__two {
  background-image: url(../resources/slide_two.png);
}

.slide__three {
  background-image: url(../resources/slide_three.png);
}

.slide__four {
  background-image: url(../resources/slide_four.png);
}

.slide__title {
  position: absolute;
  top: 575px;
  width: 443px;
  color: #ffffff;
  font-size: 30px;
  line-height: 41px;
}

.control__flex {
  position: absolute;
  top: 518px;
}

.gallery__control-prev {
  padding-right: 36px;
  border: none;
  background: none;
}

.gallery__control-prev:hover {
  opacity: 0.5;
}

.gallery__control-next {
  border: none;
  background: none;
}

.gallery__control-next:hover {
  opacity: 0.5;
}

.contacts {
  margin-bottom: 150px;
}

.contact__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.contact__title {
  font-size: 18px;
  line-height: 25px;
}

.number {
  display: block;
  margin-top: 27px;
  margin-right: 80px;
  width: 100%;
  height: 60px;
  color: #121212;
  font-style: normal;
  font-size: 60px;
  text-decoration: none;
  line-height: 60px;
  letter-spacing: -0.02em;
}

.number:hover {
  opacity: 0.5;
}

.link__mail {
  box-sizing: border-box;
  margin-top: 30px;
  width: 308px;
  height: 73px;
  color: #121212;
  text-decoration: none;
  letter-spacing: -0.03em;
}

.link__number:hover {
  border-bottom: 2px solid;
  opacity: 0.5;
}
.footer {
  height: 229px;
  width: 100%;
  background-color: #121212;
}

.footer__inner {
  display: block;
}

.footer__nav {
  margin: 0 auto;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  margin-top: 60px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__text {
  display: flex;
  justify-content: center;
  margin-top: 87px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
}

h1,
h2,
h3,
a,
p {
  letter-spacing: -0.03em;
}

.container {
  margin: 0 auto;
  padding: 0 15px 0 15px;
  width: 100%;
  max-width: 1180px;
}

@media (min-device-width: 768px) and (max-device-width: 960px) {
  .container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px o 15px;
  }
  .header__nav {
    display: none;
  }
  .burger__btn {
    position: relative;
    top: 30px;
    right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    height: 20px;
    z-index: 100;
    transform: all 0.5s ease;
  }
  .burger__btn span {
    height: 2px;
    width: 50px;
    transform: scale(1);
    background-color: #121212;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger__btn::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 31px;
    background-color: #121212;
    transition: all 0.3s ease-in-out;
  }
  .burger__btn::before {
    top: 14px;
  }
  .burger__btn.active span {
    position: relative;
    top: 4px;
    width: 30px;
    transform: rotate(-225deg) translate(0, -50%);
  }
  .burger__btn.active::before {
    width: 30px;
    transform: rotate(225deg) translate(0, 50%);
  }
  .burger__logo {
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 50px;
    width: 180px;
    height: 30px;
    background-image: url(../resources/burger_logo.png);
    background-size: cover;
    transition: all 0.4s;
  }
  .burger__nav {
    display: block;
  }
  .burger__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    height: 35px;
    color: #121212;
    border-left: 3px solid #121212;
    font-size: 25px;
    line-height: 34px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  .burger__link:hover {
    border-left: 3px solid #121212;
    padding-left: 30px;
  }
  .intro {
    margin-bottom: 120px;
  }
  .intro__title {
    width: 100%;
    max-width: 802px;
    font-size: 50px;
    line-height: 60px;
  }
  .intro__image {
    height: 400px;
    background-position: 25%;
  }
  .intro__text {
    left: 42px;
    bottom: 30px;
  }
  .about {
    margin-bottom: 120px;
  }
  .about__subtitle {
    width: 100%;
    max-width: 690px;
    height: 100%;
    font-size: 35px;
    line-height: 48px;
  }
  .projects {
    margin-bottom: 120px;
  }
  .project__image {
    width: 100%;
    object-fit: cover;
  }
  .project__text {
    height: 34px;
    font-size: 25px;
    line-height: 34px;
  }
  .project__item-link {
    margin-top: 10px;
    margin-bottom: 80px;
  }
  .services {
    margin-bottom: 120px;
  }
  .service__image {
    width: 100%;
    height: 315px;
    border-radius: 5px;
  }
  .service {
    position: relative;
  }
  .service__text {
    height: 34px;
    font-size: 25px;
    line-height: 34px;
  }
  .service__price {
    position: absolute;
    top: 31px;
    left: 32px;
    padding: 6px;
    width: 180px;
    height: 40px;
    color: #ffffff;
    background-color: #ad1818;
    border-radius: 5px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
  .reviews {
    margin-bottom: 120px;
  }
  .row {
    width: 100%;
    margin-bottom: 50px;
    column-gap: 49px;
  }
  .row__text {
    width: 100%;
    max-width: 459px;
    font-size: 20px;
    line-height: 27px;
  }
  .row__bottom-text {
    width: 100%;
    max-width: 694px;
    font-size: 20px;
    line-height: 27px;
  }
  .gallery {
    margin-bottom: 120px;
  }
  .gallery__title {
    top: 80px;
    left: 50px;
    font-size: 20px;
    line-height: 27px;
  }
  .gallery__slide {
    height: 536px;
  }
  .slide__box {
    height: 536px;
    border-radius: 0;
  }
  .slide__title {
    top: 388px;
    left: 50px;
    margin-top: 8px;
    width: 100%;
    max-width: 377px;
    font-size: 25px;
    line-height: 34px;
  }
  .control__flex {
    top: 347px;
  }
  .gallery__control-prev {
    margin-left: 30px;
  }
  .contacts {
    margin-bottom: 120px;
  }
  .number {
    width: 100%;
    max-width: 400px;
    margin-right: 140px;
    font-size: 45px;
    line-height: 60px;
  }
  .link__number {
    width: 100%;
    max-width: 230px;
  }
  .popup__content {
    overflow-y: scroll;
  }
  .popup__close-btn {
    right: 54px;
  }
}

@media (min-device-width: 320px) and (max-device-width: 767px) {
  .container {
    width: 100%;
    padding: 0 13px 0 13px;
  }
  .header {
    margin-bottom: 60px;
  }
  .header__nav {
    display: none;
  }
  .title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }
  .burger__btn {
    position: relative;
    top: 30px;
    right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    height: 20px;
    z-index: 100;
    transform: all 0.5s ease;
  }
  .burger__btn span {
    height: 2px;
    width: 38px;
    transform: scale(1);
    background-color: #121212;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger__btn::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 24px;
    background-color: #121212;
    transition: all 0.3s ease-in-out;
  }
  .burger__btn::before {
    top: 14px;
  }
  .burger__btn.active span {
    position: relative;
    top: 4px;
    width: 30px;
    transform: rotate(-225deg) translate(0, -50%);
  }
  .burger__btn.active::before {
    transform: rotate(225deg) translate(0, 50%);
    width: 30px;
  }
  .burger__logo {
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 50px;
    width: 128px;
    height: 23px;
    background-image: url(../resources/Metrica.png);
    background-size: cover;
    transition: all 0.4s;
  }
  .burger__nav {
    display: block;
  }
  .burger__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    height: 35px;
    color: #121212;
    border-left: 3px solid #121212;
    font-size: 25px;
    line-height: 34px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  .burger__link:hover {
    border-left: 3px solid #121212;
    padding-left: 30px;
  }
  .intro {
    margin-bottom: 80px;
  }
  .intro__title {
    width: 100%;
    min-width: 348px;
    font-size: 32px;
    line-height: 32px;
  }
  .intro__image {
    margin-top: 25px;
    height: 304px;
    background-position: 25%;
  }
  .intro__text {
    left: 15px;
    bottom: 15px;
    width: 312px;
    height: 88px;
    font-size: 16px;
    line-height: 22px;
  }
  .about {
    margin-bottom: 80px;
  }
  .about__subtitle {
    width: 100%;
    height: 100%;
    font-size: 22px;
    line-height: 30px;
  }
  .about__link {
    padding: 15px;
    width: 100%;
    height: 52px;
    font-size: 16px;
    line-height: 22px;
  }
  .projects {
    margin-bottom: 80px;
  }
  .project__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .project__text {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
  }
  .project__item-link {
    margin-top: 10px;
    margin-bottom: 51px;
    font-size: 16px;
    line-height: 22px;
  }
  .project__link {
    padding: 33px;
    width: 100%;
    height: 100px;
    font-size: 22px;
    line-height: 30px;
  }
  .services {
    margin-bottom: 80px;
    padding-top: 80px;
  }
  .service__list {
    flex-direction: column;
  }
  .service {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  .service__image {
    width: 100%;
    height: 240px;
  }
  .service__text {
    margin-top: 10px;
    margin-bottom: 60px;
    height: 24px;
    font-size: 18px;
    line-height: 25px;
  }
  .service__price {
    position: absolute;
    top: 23px;
    left: 24px;
    padding: 6px;
    height: 30px;
    color: #ffffff;
    background-color: #ad1818;
    border-radius: 5px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }
  .services__btn {
    margin-top: 0;
    margin-bottom: 80px;
    height: 100px;
    font-size: 22px;
    line-height: 30px;
  }
  .popup {
    padding: 13px 0 13px 0;
  }
  .popup__content {
    max-width: 361px;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }
  .popup__conteiner {
    padding: 0 16px 0 16px;
    width: 100%;
  }
  .popup__title {
    margin-top: 80px;
    font-size: 25px;
    line-height: 34px;
  }
  .popup__text {
    margin-top: 11px;
    max-width: 209px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }
  .popup__btn {
    display: block;
    margin-bottom: 80px;
  }
  .popup__close-btn {
    width: 18px;
    height: 18px;
    top: 46px;
    right: 35px;
    background-image: url(../resources/icon_close_small.png);
  }
  .input {
    max-width: 312px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 25px;
  }
  .input:nth-last-child(1) {
    margin-bottom: 60px;
  }
  .reviews {
    margin-bottom: 80px;
  }
  .row {
    margin: 0;
    flex-direction: column;
  }
  .row__title {
    margin-bottom: 10px;
    width: 100%;
    font-size: 25px;
    line-height: 34px;
  }
  .row__text {
    margin-bottom: 80px;
    max-width: 100%;
    min-width: 350px;
    font-size: 16px;
    line-height: 22px;
  }
  .row__bottom-title {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }
  .row__bottom-text {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
  .gallery {
    margin-bottom: 80px;
    height: 408px;
  }
  .gallery__title {
    width: 128px;
    font-size: 14px;
    line-height: 19px;
  }
  .gallery__slide {
    height: 191px;
  }
  .slide__box {
    width: 100%;
    min-width: 320px;
    height: 408px;
    border-radius: 0;
    background-position: 45%;
  }
  .slide__title {
    top: 296px;
    width: 100%;
    max-width: 278px;
    font-size: 19px;
    line-height: 26px;
  }
  .control__flex {
    position: revert;
    top: 191px;
    display: flex;
    justify-content: space-between;
  }
  .control__slide {
    width: 14px;
    height: 25px;
  }
  .contacts {
    margin-bottom: 80px;
  }
  .tagline__contacts {
    font-size: 14px;
    line-height: 19px;
  }
  .contact__flex {
    flex-direction: column;
    margin-top: 0;
  }
  .contact__wrapper {
    margin-top: 21px;
  }
  .number {
    margin-top: 21px;
    width: 100%;
    font-size: 35px;
    line-height: 46px;
  }
  .link__mail {
    width: 181px;
    height: 46px;
  }
  .footer {
    height: 131px;
  }
  .footer__nav {
    width: 281px;
  }
  .footer__link {
    margin-top: 30px;
    font-size: 12px;
    line-height: 16px;
  }
  .footer__text {
    margin-top: 41px;
    font-size: 13px;
    line-height: 18px;
  }
}

@media (min-device-width: 320px) and (max-device-width: 350px) {
  .container {
    margin: 0 auto;
  }
  .intro__title {
    min-width: 300px;
  }
  .about__title {
    min-width: 0;
  }
  .row__text {
    min-width: 0;
  }
  .input {
    width: 100%;
  }
}
