html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.body_fixed {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 61px;
  width: 100%;
}

.header_logo {
  margin-top: 33px;
  width: 127px;
  height: 22px;
  background-image: url(../resources/Metrica.png);
}

.header_nav {
  display: flex;
  gap: 57px;
  margin-top: 35px;
}

.nav-link {
  color: #121212;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  border-bottom: 1px solid;
  opacity: 0.5;
}

.nav-link:nth-last-child(1) {
  margin-right: 0;
}

.intro {
  margin-top: 68px;
}

.intro_title {
  width: 956px;
  color: #121212;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
}

.intro_image {
  margin-top: 30px;
  margin-bottom: 150px;
  width: 100%;
  height: 500px;
  position: relative;
  border-radius: 5px;
  background-image: url(../resources/Interior.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.intro_text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  color: #ffffff;
  font-size: 20px;
  line-height: 27px;
}

.about_title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.about_subtitle {
  margin-bottom: 0;
  width: 100%;
  max-width: 1048px;
  color: #121212;
  font-style: normal;
  font-size: 45px;
  line-height: 61px;
}

.about_btn {
  margin-top: 28px;
  padding: 20px 0;
  display: block;
  width: 255px;
  height: 67px;
  border-image: initial;
  border-radius: 5px;
  border: 1px solid;
  border-style: solid;
  border-color: rgb(173, 24, 24);
  background-color: rgb(173, 24, 24);
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about_btn:hover {
  border-color: #121212;
  background-color: #ffffff;
  color: #121212;
}

.projects {
  margin-top: 150px;
}

.project_title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.project_image {
  width: 100%;
  height: 449.79px;
  border-radius: 5px;
}

.project_text {
  margin: 0px;
  margin-top: 15px;
  color: #121212;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
}

.project_link {
  margin-top: 15px;
  margin-bottom: 90px;
  display: block;
  width: 127px;
  height: 26.99px;
  color: #ad1818;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
}

.project_btn {
  margin-bottom: 150px;
  padding-top: 56px;
  padding-bottom: 56px;
  height: 153px;
  display: block;
  border-radius: 5px;
  border: 1px solid #ad1818;
  background-color: #ffffff;
  color: #ad1818;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project_btn:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.services {
  width: 100%;
  background-color: #121212;
  padding-top: 151px;
  margin-bottom: 150px;
}

.service_title {
  margin-bottom: 30px;
  width: 80px;
  height: 25px;
  color: #ffffff;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.service_flex-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.service {
  position: relative;
  max-width: 569px;
  width: calc(50% - 5px);
}

.service_image {
  width: 100%;
  height: 388px;
  border-radius: 5px;
  object-fit: cover;
}

.service_price {
  position: absolute;
  top: 32px;
  left: 30px;
  padding: 6px;
  width: 180px;
  height: 40px;
  color: #ffffff;
  background-color: #ad1818;
  border-radius: 5px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.service_text {
  margin-top: 15px;
  width: 100%;
  height: 41px;
  color: #121212;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
}

.service_text-color {
  margin-bottom: 80px;
  color: #ffffff;
}

.services_btn {
  margin-top: 24px;
  margin-bottom: 150px;
  width: 100%;
  height: 153px;
  color: #ffffff;
  background-color: #ad1818;
  border: none;
  border-radius: 5px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  padding: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.popup_open {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: relative;
  margin: 13px;
  max-width: 777px;
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

.popup_conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.popup__title {
  margin-top: 94px;
  font-size: 45px;
  line-height: 61px;
}

.popup__text {
  margin-top: 4px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 25px;
}

.input {
  display: block;
  margin-bottom: 50px;
  padding-bottom: 10px;
  width: 636px;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 25px;
  line-height: 34px;
}

.input:focus {
  outline: none;
}

.input:nth-last-child(1) {
  margin-bottom: 80px;
}

.popup_btn {
  margin-bottom: 86px;
  max-width: 643px;
  width: 100%;
  height: 67px;
  border-radius: 5px;
  border: none;
  background-color: #ad1818;
  color: #ffffff;
  font-family: "Manrope";
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
}

.popup_close-btn {
  position: absolute;
  display: flex;
  top: 42px;
  right: 44px;
  width: 30px;
  height: 30px;
  background-image: url(../resources/icon_close.png);
  cursor: pointer;
}

.review_title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  column-gap: 49px;
}

.row_title {
  margin-bottom: 25px;
  width: 100%;
  font-size: 45px;
  line-height: 61px;
}
.row_text {
  width: 100%;
  max-width: 530px;
  font-size: 22px;
  line-height: 30px;
}

.row_bottom_title {
  margin-bottom: 25px;
  font-size: 45px;
  line-height: 61px;
}

.row_bottom_text {
  width: 100%;
  max-width: 861px;
  margin-bottom: 157px;
  font-size: 22px;
  line-height: 30px;
}

.gallery {
  position: relative;
  margin: 0 auto;
  max-width: 1800px;
}

.gallery__title {
  position: absolute;
  top: 60px;
  z-index: 100;
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
}

.gallery__slide {
  height: 717px;
  display: none;
}

.gallery__slide_active {
  display: block;
}

.slide_box {
  height: 717px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.slide_one {
  background-image: url(../resources/slide_one.png);
}

.slide_two {
  background-image: url(../resources/slide_two.png);
}

.slide_three {
  background-image: url(../resources/slide_three.png);
}

.slide_four {
  background-image: url(../resources/slide_four.png);
}

.slide_title {
  position: absolute;
  top: 575px;
  width: 443px;
  color: #ffffff;
  font-size: 30px;
  line-height: 41px;
}

.control-flex {
  position: absolute;
  top: 518px;
}

.gallery__control-prev {
  padding-right: 36px;
  border: none;
  background: none;
}

.gallery__control-prev:hover {
  opacity: 0.5;
}

.gallery__control-next {
  border: none;
  background: none;
}

.gallery__control-next:hover {
  opacity: 0.5;
}

.box_contact {
  margin-top: 150px;
}

.contact_flex {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 150px;
}

.contact_title {
  font-size: 18px;
  line-height: 25px;
}

.number {
  margin-top: 27px;
  margin-right: 80px;
  display: block;
  width: 100%;
  height: 60px;
  color: #121212;
  font-style: normal;
  font-size: 60px;
  text-decoration: none;
  line-height: 60px;
  letter-spacing: -0.02em;
}

.number:hover {
  opacity: 0.5;
}

.link_mail {
  margin-top: 30px;
  box-sizing: border-box;
  width: 308px;
  height: 73px;
  color: #121212;
  text-decoration: none;
  letter-spacing: -0.03em;
}

.link_number:hover {
  border-bottom: 2px solid;
  opacity: 0.5;
}
.footer {
  height: 229px;
  width: 100%;
  background-color: #121212;
}

.footer_inner {
  display: block;
}

.footer_nav {
  margin: 0 auto;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  margin-top: 60px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}

.footer-link:hover {
  opacity: 0.5;
}

.footer-text {
  display: flex;
  justify-content: center;
  margin-top: 87px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
}

h1,
h2,
h3,
a,
p {
  letter-spacing: -0.03em;
}

.container {
  margin: 0 auto;
  padding: 0 15px 0 15px;
  width: 100%;
  max-width: 1180px;
}

@media (min-device-width: 768px) and (max-device-width: 960px) {
  .container {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .intro_title {
    width: 100%;
    max-width: 802px;
    font-size: 50px;
    line-height: 60px;
  }
  .intro_image {
    margin-bottom: 120px;
    height: 400px;
    background-position: 25%;
  }
  .intro_text {
    left: 42px;
    bottom: 30px;
  }
  .about_subtitle {
    width: 100%;
    max-width: 690px;
    height: 100%;
    font-size: 35px;
    line-height: 48px;
  }
  .projects {
    margin-top: 120px;
  }
  .project_image {
    width: 100%;
    object-fit: cover;
  }
  .project_text {
    height: 34px;
    font-size: 25px;
    line-height: 34px;
  }
  .project_link {
    margin-top: 10px;
    margin-bottom: 80px;
  }
  .project_btn {
    margin-bottom: 100px;
  }
  .services {
    margin-bottom: 120px;
  }
  .service_image {
    width: 100%;
    height: 315px;
    border-radius: 5px;
  }
  .service {
    position: relative;
  }
  .service_text {
    height: 34px;
    font-size: 25px;
    line-height: 34px;
  }
  .service_price {
    position: absolute;
    top: 31px;
    left: 32px;
    padding: 6px;
    width: 180px;
    height: 40px;
    color: #ffffff;
    background-color: #ad1818;
    border-radius: 5px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
  .row {
    width: 100%;
    margin-bottom: 50px;
    column-gap: 49px;
  }
  .row_title {
    width: 100%;
    font-size: 35px;
    line-height: 48px;
  }
  .row_text {
    width: 100%;
    max-width: 459px;
    font-size: 20px;
    line-height: 27px;
  }

  .row_bottom_title {
    font-size: 35px;
    line-height: 48px;
  }

  .row_bottom_text {
    width: 100%;
    max-width: 694px;
    margin-bottom: 120px;
    font-size: 20px;
    line-height: 27px;
  }
  .gallery__title {
    top: 80px;
    left: 50px;
    font-size: 20px;
    line-height: 27px;
  }
  .gallery__slide{
    height: 536px;
    border-radius: 0;
  }
  .box_title {
    top: 388px;
    left: 50px;
    margin-top: 8px;
    width: 100%;
    max-width: 377px;
    font-size: 25px;
    line-height: 34px;
  }
  .gallery__slide {
    height: 536px;
  }
  .control-flex {
    top: 347px;
  }
  .gallery__control-prev {
    margin-left: 30px;
  }
  .contacts {
    margin-top: 120px;
  }
  .contact_flex{
    margin-bottom: 80px;
  }
  .number {
    width: 100%;
    max-width: 400px;
    margin-right: 140px;
    font-size: 45px;
    line-height: 60px;
  }
  .link_number {
    width: 100%;
    max-width: 230px;
  }
  .popup__content {
    overflow-y: scroll;
  }
  .popup_close-btn {
    right: 54px;
  }
}

@media (min-device-width: 320px) and (max-device-width: 767px) {
  .container {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
  }
  .intro_title {
    width: 100%;
    min-width: 348px;
    font-size: 32px;
    line-height: 32px;
  }
  .intro_image {
    margin-top: 25px;
    margin-bottom: 80px;
    height: 304px;
    background-position: 25%;
  }
  .about_text {
    left: 15px;
    bottom: 15px;
    width: 312px;
    height: 88px;
    font-size: 16px;
    line-height: 22px;
  }
  .about_tagline {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 19px;
  }
  .about_subtitle {
    width: 100%;
    max-width: 530px;
    height: 100%;
    font-size: 22px;
    line-height: 30px;
  }
  .btn {
    padding: 15px;
    width: 100%;
    height: 52px;
    font-size: 16px;
    line-height: 22px;
  }
  .projects {
    margin-top: 80px;
  }
  .project__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .about_tagline {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 19px;
  }
  .deck {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
  }
  .link {
    margin-top: 10px;
    margin-bottom: 51px;
    font-size: 16px;
    line-height: 22px;
  }
  .btn__two {
    margin-bottom: 80px;
    padding: 33px;
    width: 100%;
    height: 100px;
    font-size: 22px;
    line-height: 30px;
  }
  .project_color {
    margin-bottom: 80px;
    padding-top: 80px;
  }
  .tag {
    height: 19px;
    font-size: 14px;
    line-height: 19px;
  }
  .flex-box {
    flex-direction: column;
  }
  .service {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  .services__image {
    width: 100%;
    height: 240px;
  }
  .flex_text {
    margin-top: 10px;
    margin-bottom: 60px;
    height: 24px;
    font-size: 18px;
    line-height: 25px;
  }
  .service_price {
    position: absolute;
    top: 23px;
    left: 24px;
    padding: 6px;
    width: 140px;
    height: 30px;
    color: #ffffff;
    background-color: #ad1818;
    border-radius: 5px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }
  .row {
    margin: 0;
    flex-direction: column;
  }
  .row_title {
    width: 100%;
    font-size: 25px;
    line-height: 34px;
  }
  .row_text {
    margin-bottom: 80px;
    width: 100%;
    min-width: 350px;
    font-size: 16px;
    line-height: 22px;
  }

  .row_bottom_title {
    font-size: 25px;
    line-height: 34px;
  }

  .row_bottom_text {
    width: 100%;
    max-width: 530px;
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 22px;
  }
  .gallery__title {
    width: 128px;
    font-size: 14px;
    line-height: 19px;
  }
  .gallery__slide {
    height: 191px;
  }
  .box {
    width: 100%;
    min-width: 320px;
    height: 408px;
    border-radius: 0;
    background-position: 45%;
  }
  .box_title {
    top: 296px;
    width: 100%;
    max-width: 278px;
    font-size: 19px;
    line-height: 26px;
  }
  .control-flex {
    position: revert;
    top: 191px;
    display: flex;
    justify-content: space-between;
  }
  .control_slide {
    width: 14px;
    height: 25px;
  }
  .phone {
    margin-top: 275px;
  }
  .tagline_contacts {
    font-size: 14px;
    line-height: 19px;
  }
  .contact_flex {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 80px;
  }
  .contact_wrapper {
    margin-top: 21px;
  }
  .number {
    margin-top: 21px;
    width: 100%;
    font-size: 35px;
    line-height: 46px;
  }
  .link_number {
    width: 181px;
    height: 46px;
  }
  .footer {
    height: 131px;
  }
  .footer_nav {
    width: 281px;
  }
  .footer-link {
    margin-top: 30px;
    font-size: 12px;
    line-height: 16px;
  }
  .footer-text {
    margin-top: 41px;
    font-size: 13px;
    line-height: 18px;
  }
  .about {
    margin-top: 30px;
  }
  .popup {
    padding: 13px 0 13px 0;
  }
  .btn__three {
    margin-bottom: 80px;
    height: 100px;
    font-size: 22px;
    line-height: 30px;
  }
  .popup__content {
    max-width: 361px;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }
  .popup_conteiner {
    padding: 0 16px 0 16px;
    width: 100%;
  }
  .popup__title {
    margin-top: 80px;
    font-size: 25px;
    line-height: 34px;
  }
  .popup__text {
    margin-top: 11px;
    max-width: 209px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }
  .popup_btn {
    display: block;
    margin-bottom: 80px;
  }
  .popup_close-btn {
    width: 18px;
    height: 18px;
    top: 46px;
    right: 35px;
    background-image: url(../resources/icon_close_small.png);
  }
  .input {
    max-width: 312px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 25px;
  }
  .input:nth-last-child(1) {
    margin-bottom: 60px;
  }
}

@media (min-device-width: 320px) and (max-device-width: 350px) {
  .container {
    margin: 0 auto;
  }
  .about_title {
    min-width: 0;
  }
  .row_text {
    min-width: 0;
  }
  .input {
    width: 100%;
  }
}
